














.footer-part{
  margin-top: 30px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: slategray;
  text-align: center;
  color: white;
  

}
